<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104205316438-20qltkq9sntov9is3n446ekdt1g9uetn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104205316438-20qltkq9sntov9is3n446ekdt1g9uetn</string>
	<key>API_KEY</key>
	<string>AIzaSyDyb1xMFDFsz9p9GtqNVQfb8R6OMElY8LM</string>
	<key>GCM_SENDER_ID</key>
	<string>104205316438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ee3080Dip049</string>
	<key>PROJECT_ID</key>
	<string>ee3080-scanner</string>
	<key>STORAGE_BUCKET</key>
	<string>ee3080-scanner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104205316438:ios:076393d9fdb78f533de6f7</string>
</dict>
</plist>